:root {
  --bg-main: #1d1d1d;
  --bg-accent: #2b2b2b;
  --bg-accent1: #3d3d3d;
  --fg-main: #d8d8d8;
  --fg-muted: #acacac;
  --fg-dead: #7e7e7e;
  --primary: rgb(13, 114, 114);
  --primary-muted: rgb(27, 70, 70);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  font-family: monospace;
  color: var(--fg-main);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 1em;
  gap: 1em;
  min-height: calc(100vh - 80px - 60px);
}

.pane {
  flex: 1;
}

input, select, textarea, button {
  background-color: var(--bg-accent1);
  border: 1px solid var(--fg-dead);
  color: var(--fg-main);
}

.text-input {
  resize: vertical;
  width: 100%;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1em;
  min-height: 2em;
}

button {
  border-radius: 2px;
  padding: 2px 5px;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: var(--primary);
  color: var(--fg-main);
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.10);
  -moz-box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.10);
  box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.10);
}

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--primary-muted);
  color: var(--fg-main);
}

.sub-option {
  padding-left: 2.5em;
  padding-bottom: 0.1em;
}

@media only screen and (min-width: 1500px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    flex-direction: row;
    margin-top: 80px;
  }

  .page-header {
    position: fixed;
    top: 0;
  }
}