.card {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.10);
  -moz-box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.10);
  box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.10);
  border-radius: 4px;
  padding: 0.5em;
}