.checkbox-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 20px;
  width: 20px;
  background-color: var(--bg-accent1);
}

.checkbox-container input ~ .checkmark {
  border-radius: 4px;
  transition: background-color 250ms ease;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: var(--primary-muted);
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary);
}

.checkbox-container input:checked:hover:enabled ~ .checkmark {
  background-color: var(--primary-muted);
}

.checkbox-container input:disabled ~ .checkmark {
  background-color: var(--fg-dead);
  cursor: not-allowed;
}

.checkmark:after {
  content: "";
  position: relative;
  left: 6px;
  top: 2px;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  width: 5px;
  height: 10px;
  border: solid var(--fg-main);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container input:focus ~ .checkmark{
  outline: rgb(0, 110, 255) 2px solid;
}